<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Servlets -->
  <servlet>
    <servlet-name>OrbTrackerServlet</servlet-name>
    <servlet-class>org.goldenorb.server.OrbTrackerMemberDataServiceImpl</servlet-class>
    <init-param>
        <!-- connectString :
        Set this value to connectString parameter you would
        pass to zookeeper when trying connect to a new zookeeper instance.
        ex. ZooKeeper zk = new ZooKeeper(String connectString, int timeout, Watcher watcher); -->
  		<param-name>connectString</param-name>
  		<param-value>localhost</param-value>
  	</init-param>
  	<init-param>
  		<!-- pathToLeaderGroup :
  		Set this value to the full ZooKeeper path to the leader group you are monitoring
  		This usually looks like /GoldenOrb/<Cluster Name>/OrbTrackerLeaderGroup -->
  		<param-name>clusterName</param-name>
  		<param-value>Ryan_Test</param-value>
  	</init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>OrbTrackerServlet</servlet-name>
    <url-pattern>/OrbTrackerStatus/OrbTrackerMemberDataService</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>OrbTrackerStatus.html</welcome-file>
  </welcome-file-list>

</web-app>
